html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.text-dimgray,
.text-dimgrey {
    color: dimgray !important;
}

.text-warm {
    color: khaki !important;
}

.no-shadow,
.no-shadow .btn-check:focus + .btn,
.btn:focus {
    box-shadow: none !important;
}

.bg-dim:active,
.bg-dim-active,
.bg-dim-active:active,
.bg-dim-active:hover {
    background-color: dimgray !important;
    color: white;
}

.bg-dim {
    background-color: white;
}

.footer-link {
    text-decoration: none;
    color: #212529;
}

.footer-link:active {
    color: dimgray;
}
